@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-950 bg-stone-50 max-w-[2000px] mx-auto;
  }
  h1 {
    @apply my-4 flex text-2xl lg:text-[50px] leading-8 tracking-wide;
  }
  h2 {
    @apply text-2xl xl:text-[36px] font-bold my-4 leading-10 tracking-wide;
  }
  h3 {
    @apply text-xl font-bold my-2;
  }

  p {
    @apply text-base lg:text-lg;
  }
  input {
    @apply rounded-xl px-4 py-2.5 border border-slate-300 focus:outline-none focus:border-slate-500;
  }
}

@layer utilities {
  .section-background {
    @apply relative w-full lg:h-[650px] overflow-hidden after:bg-gradient-to-b after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full;
  }
  .scrollbar-hide::-webkit-scrollbar {
    @apply hidden;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.animate-scale-down {
  animation: scaleDown 0.5s ease-in-out forwards;
}

.animate-scale-up {
  animation: scaleUp 0.5s ease-in-out forwards;
}
